@model IEnumerable<KhaoThiSoftware.Models.KyThi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Lectures/Views/Shared/_LayoutLe.cshtml";
}

<h2>Danh sách kỳ thi</h2>
<table class="table">
    <tr>
        <th>
            <label>Mã kỳ thi</label>
        </th>
        <th>
            <label>Tên kỳ thi</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKyThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKyThi)
        </td>
        <td>
            @Html.ActionLink("Kiểm tra Phách", "UploadFile", new { id=item.IdKyThi }, new { @class = "btn btn-success"})
        </td>
    </tr>
}

</table>
