@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>Tài nguyên bạn yêu cầu không tồn tại trong hệ thống, vui lòng kiểm tra lại</h1>
    <br />
    @Html.ActionLink("Bấm vào đây để quay về trang chủ", "Index", "Home_Ad")
</div>