
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@Html.ActionLink("Sinh phách", "GenPhach", null, new { @class = "btn btn-primary"})

@Html.ActionLink("Generate Barcode", "GenPhach2", null, new { @class = "btn btn-primary" })

<button class="btn btn-info" id="btnLoadReport">Load Report</button>