@model IEnumerable<String>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Tên môn học</label>
        </th>
    </tr>

@foreach (string item in Model) {
    <tr>
        <td>
            @item
        </td>
    </tr>
}

</table>
