
@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Upload file thất bại, File không đúng định dạng, vui lòng liên hệ với quản trị viên.</h2>

