
@{
    ViewBag.Title = "UpLoadFail";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Cập nhật danh sách thí sinh không thành công, vui lòng kiểm tra lại định dạng file theo file mẫu.</h2>

<ul>
    <li><h3>Định dạng file yêu cầu là file excel *.xls</h3></li>
    <li><h3>Nếu là file *.xlsx vui lòng lưu ra định dạng *.xls để upload lên hệ thống.</h3></li>
</ul>

