
@{
    ViewBag.Title = "DemoReportViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DemoReportViewer</h2>
<div>
    <a href="@Url.Action("ExportPDF")"> PDF </a> |
    <a href="@Url.Action("ExportWord")"> Word </a>
</div>